.card-body {
    background: rgba(43, 7, 250, 0.219);
  }
  .card-main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row-user {
    border-radius: 5px;
    border: 1px solid blue;
  }
  